{% extends "layout.njk" %}
{% block content %}
<main class="container">
  <hero>
    <h1>Mysterious island Adventure</h1>
    <img src="/img/Island2.0.jpg" alt="Cover image">
  </hero>
  <p>You find yourself on a deserted island, surrounded by dense jungle.
     The air is humid, and strange sounds echo through the trees.
     Your goal is to explore the island, solve puzzles, and uncover the mysteries hidden within.</p>

    <form action="username" method="post"
    <label for="username">Enter your Name to start your journey</label>
    <input for="text" id="username" name="username" placeholder="Enter your name here"></input>
    <input type="submit" value="submit">
  </form>
</main>
{% endblock %}